.CurrentWeather {
  width: 100%;
  height: 100vh;
  min-height: 620px;
  max-height: 750px;
  @media (min-width: 786px){
    max-height: unset;
  }
  background-color: #1e213a;
  padding: 1.5rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-Img {
    margin-top: 1rem;
    height: 250px;
    background-image: url("../../images/Cloud-background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

    @media (min-width: 576px) {
      margin-top: 2rem;
    }

    @media (min-width: 786px) {
      margin-top: 0;
    }

    img {
      width: 150px;
      height: auto;
      display: block;
      margin: auto;
    }
  }

  &-Temp {
    text-align: center;
  }

  &-Value {
    font-size: 5rem;
    color: white;
  }

  &-Unit {
    font-size: 3rem;
    color: #a09fb1;
  }

  &-Desc {
    text-align: center;
    color: #a09fb1;
    font-size: 1.8rem;
  }

  &-Date {
    margin-top: 2.5rem;
    color: #a09fb1;
    text-align: center;
    font-size: .95rem;
  }

  &-Location {
    margin-top: .95rem;
    color: #a09fb1;
    text-align: center;

    img {
      width: 12px;
      height: auto;
      vertical-align: middle;
    }
  }
}

.degree {
  width: 7px;
  height: 7px;
  display: inline-block;
  border: 1px solid #a09fb1;
  vertical-align: text-top;
  border-radius: 100rem;
}

.SearchForPlaces {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  height: 40px;
  
  &-Btn {
    font-size: 1rem;
    height: 100%;
    padding: 0 1.3rem;
    background-color: #6e707a;
    color: #e7e7eb;
    border: none;
    box-shadow: 0px 4px 15px -5px black;
    cursor: pointer;
    transition: 300ms ease-out;

    &:active {
      transform: scale(0.95);
    }
  }

  &-Icon {
    box-shadow: 0px 4px 15px -5px black;
    background: #6e707a 30%;
    padding: 0.5rem;
    border-radius: 100rem;
    width: 40px;
    height: 40px;
    cursor: pointer;

    img {
      width: 22px;
      height: 22px;
      filter: invert(100%);
      display: block;
      margin: auto;
    }
  }
}

// -------------------------------

.SearchForPlacesInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1e213a;

  &-transition {
    transition: 300ms ease-out;
  }

  &-wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
  }
}

.Form {
  margin-top: 2rem;
  display: flex;
  align-items: center;

  &-Input {
    padding: 0.7rem 1rem;
    border: 1px solid #8c8c97;
    display: flex;
    align-items: center;
    width: 100%;

    &Field {
      background-color: rgba(255, 255, 255, 0);
      font-size: 0.9rem;
      border: none;
      margin-left: 0.7rem;
      color: #e7e7eb;
      width: 100%;

      &::placeholder {
        color: #616475;
      }
    }

    // and search icon, css below
  }

  &-SubmitBtn {
    background-color: #3c47e9;
    border: 1px solid #3c47e9;
    color: #e7e7eb;
    padding: 0.8rem 1rem;
    font-size: 0.9rem;
    margin-left: 1rem;
    transition: 300ms ease-out;
    &:active {
      transform: scale(0.8);
    }
  }
}

.Search-Icon {
  width: 20px;
  height: 20px;
}

.Cities {
  margin-top: 2rem;
  display: grid;
  grid-row-gap: 2rem;

  &-Item {
    border: 1px solid #616475;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-Name {
    color: #e7e7eb;
    font-size: 0.8rem;
  }
}

.right-angle-icon {
  width: 12px;
  height: 12px;
}

.exit-icon {
  width: 20px;
  height: 20px;
  filter: invert(90%);
  display: block;
  margin-left: auto;
}
